<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User Information</title>
</head>
<body>

<form th:action="@{/admin/update}" th:object="${user}" method="post">

  <input type="hidden" th:field="*{id}"/>

  <label>Name:
    <input type="text" th:field="*{name}">
  </label><br>

  <label>Last name:
    <input type="text" th:field="*{lastName}">
  </label><br>

  <label>Age:
    <input type="number" th:field="*{age}">
  </label><br>

  <label>Username:
    <input type="text" th:field="*{username}">
  </label><br>

  <label>Password (leave blank to keep current):
    <input type="password" th:field="*{password}" placeholder="New password">
  </label><br>

  <button type="submit">Update</button>
</form>

</body>
</html>